extends layout
include mixins/_accountEditEverything
include mixins/_accountEditClasses

block content
    .inner
        h2= `Edit ${account.name}'s Account`
        //- add a link to change their password
        +accountEditClasses(account,permissionList) 