extends layout

include mixins/_bullyingAdminForm
include mixins/_bullyingDesigneeForm
include mixins/_bullyingStaffForm

block content
    .inner
        h2 #{title}
        h2 Do not use this form yet
        if "admin".includes(role)
            +bullyingAdminForm(bullying)
        else if "designee".includes(role)
            +bullyingDesigneeForm(bullying)
        else 
            +bullyingStaffForm(bullying)