extends layout

include mixins/_callbackCard
include mixins/_callbackTable
block content
    .inner
        h2= "You have " + user.callbackCount + " items on callback"
            if user.permissions.includes("teacher")
                a.title_link(href="/callback/add") Add Callback Assignment
        p.tags
            if currentPath.startsWith('/callback/teacher/old')
                a.textLinks.button(href="/callback/teacher") Only incomplete Callback
            else 
                a.textLinks.button(href="/callback/teacher/old") Include Completed Callback
        if Object.keys(callbacks).length <9
            .callbacks
                each callback in callbacks
                    +callbackCard(callback)
        else 
            +callbackTable(callbacks)