extends layout

include mixins/_calendarCard
include mixins/_callbackCard
include mixins/_teacherCurrentWorkForm
block content
    .inner
        h2= title
        if user
            if user.isTeacher
                +teacherCurrentWorkForm(user)
                hr
            .calendars
                each calendar in calendars
                    +calendarCard(calendar)
                each callback in callbacks
                    +callbackCard(callback)