extends layout

include mixins/_calendarCard
include mixins/_callbackCard
include mixins/_teacherCurrentWorkForm
include mixins/_showCurrentWork

block content
    .inner
        h1= title
            if user
                p
                    if (user.isTeacher || user.isAdmin)
                        a.title_link(href="https://docs.google.com/spreadsheets/d/1UH-OrTKDwtKV1jPIf3t10wOHOZxsvKPAc3_XV_08KKw/edit" target="_blank") ** Attendance **
                    if (user.isTeacher || user.isAdmin ||user.isPara)
                        a.title_link(href="/pbis/add") PBIS!!

        if user
            if user.isTeacher
                +teacherCurrentWorkForm(user)
                hr
            .calendars
                each calendar in calendars
                    +calendarCard(calendar)
                each callback in callbacks
                    +callbackCard(callback)
            if !user.isTeacher
                +showCurrentWork(user)
            if user.isParent
                each child in student
                    +showCurrentWork(child)
        else
            p Welcome to the NCUJHS Dashboard.  Please login.  
            p If you are a parent or guardian please contact the school to setup an account to monitor your child's progress.