extends layout

block content 
    .inner 
        h2 #{title}
        if user.permissions.includes("teacher") || user.permissions.includes("admin") || user.permissions.includes("para")
                a.title_link(href="/discipline/addNew") Add Student Conduct Referal
                a.title_link(href="/bullying/list") View Hazing Harassment Bullying
                hr
        table.table
            thead
                td Date
                td Student Name
                td Teacher
            tbody
                each discipline in disciplines
                    tr
                        td
                            a(href=`/discipline/${discipline._id}`)=discipline.date.toDateString()
                        td
                            a(href=`/discipline/${discipline._id}`)=discipline.student.name
                        td
                            a(href=`/discipline/${discipline._id}`)=discipline.teacher.name