extends layout
include mixins/_infoTable
include mixins/_infoSearch

block content
    .inner
        h2= title
            if user
                if user.permissions.includes("teacher") || user.permissions.includes("admin")
                    a.title_link(href="/info/add") Add new 
        +infoSearch()
        +infoTable(infos,path="/info/search/")