extends layout
include mixins/_infoTable

block content
    .inner
        h2= title
            if user
                if (user.isTeacher || user.isAdmin)
                    a.title_link(href="/info/add") Add new 
        +infoTable(infos,path="/info/search/")