extends layout
include mixins/_progressDisplay
block content
    .inner
        h1=title    
        if progresses
            .titleContainer
                each progress in progresses
                    +progressDisplay(progress)