extends layout

block content
  .inner
    form.form(action="/register" method="POST")
      h2 Register for a parent account for #{student.name}
      label(for="name") Name
      input(type="text" name="name")
      label(for="email") Email
      input(type="email" name="email")
      label(for="password") Password
      input(type="password" name="password")
      label(for="password-confirm") Confirm Password
      input(type="password" name="password-confirm")
      input(type="text" hidden name="child" value=student._id)
      input(type="checkbox" hidden checked name="permissions" value="parent")
      input.button(type="submit" value="Register →")
