extends layout
include mixins/_studentFocusTable
block content
    .inner
        h2= title
            if user
                if (user.isTeacher || user.isAdmin)
                    a.title_link(href="/studentFocus/add") Add new 
        if user
            if (user.isTeacher || user.isAdmin)
                +studentFocusTable(studentFocuss,"/studentFocus/search/", id)