extends layout
include mixins/_studentFocusTable
block content
    .inner
        h2= title
            if user
                if user.permissions.includes("teacher") || user.permissions.includes("admin")
                    a.title_link(href="/studentFocus/add") Add new 
        if user
            if user.permissions.includes("teacher") || user.permissions.includes("admin")
                +studentFocusTable(studentFocuss,"/studentFocus/search/", id)