extends layout

include mixins/_callbackCard
include mixins/_showCurrentWork
block content
    .inner
        h2= title
        if user.isAdmin
            p
                a(href=`/user/edit/${account._id}`) Edit this account
            p
                a(href=`/account/reset/${account._id}`) Reset #{account.name}'s password
            hr
        .calendars
            each callback in callbacks
                +callbackCard(callback)
        +showCurrentWork(account)