extends layout

include mixins/_disciplineTeacherDetails
include mixins/_disciplineAdminForm

block content
    .inner
        if user.permissions.includes("discipline")
            p
                a(href=`/discipline/print/${discipline._id}`) Printable
        .card
            h1=discipline.student.name
            
            +disciplineTeacherDetails(discipline)
            if user.permissions.includes("discipline")
                +disciplineAdminForm(discipline)

                
