extends layout


block content
    .inner
        h2= title
        .tags
            a.button(href="/pbis/resetCounts") ** DO NOT CLICK THIS, THIS RESETS PBIS COUNTS **
        Table.table     
            thead
                td TA Teacher
                td Winner
                td Previous Winner

            each teacher in teachers
                tr
                    td=teacher.name
                    td=teacher.winner
                    if teacher.previousPbisWinner
                        td=teacher.previousPbisWinner.name
                    