mixin infoSearch(info = {})
  

    //- label(for="infoSearch") Search for a link
    .infoSearch
      input(name="infoSearch" id="infoSearch" type="text" placeholder="Search" )
      .search
        .search__results