mixin userSearch(student = {})
  form(action=`/user/${id || ''}` method="get" class="card" )

    label(for="studentName") student Name
    .userSearch
      input(name="studentName" id="userName" type="text" )
      .search
        .search__results
   
      .search__input
      input(name="id" id="id" )
      
    input(type="submit" value="Search →" class="button")
  