mixin userSearch(student = {})
  form(action=`/user/${id || ''}` method="get" class="card" )

    label(for="userName") Search for an account
    if user.permissions.includes("teacher") || user.permissions.includes("admin")
      a.button(href="/teacher/search/name") View Teachers
    .userSearch
      input(name="userName" id="userName" type="text" )
      .search
        .search__results
   
      
      
    //- input(type="submit" value="Search →" class="button")
  