mixin userSearch(student = {})
  form(action=`/user/${id || ''}` method="get" class="card" )

    label(for="userName") Search for an account
    .userSearch
      input(name="userName" id="userName" type="text" )
      .search
        .search__results
   
      
      
    //- input(type="submit" value="Search →" class="button")
  