.PBIS_Container {
  height: 100%;
  width: fit-content;
  max-width: max-content;
  height: fit-content;
  margin-top: 1em;
  margin-bottom: 1em;
  animation: 0.6s ease-out 0s 1 scaleIn;
  @keyframes scaleIn {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  // position: fixed;
  z-index: 1;
  text-align: center;
  // top: 200px;
  // right: 100px;
  background-color: $black;
  //   overflow-x: hidden;
  transition: 0.5s;
  padding: 5px;
  border-radius: 5px;
  justify-content: space-around;
  // box-shadow: 3px 3px 3px 3px $grey;
  @media all and (max-width: 900px) {
    display: flex;
    right: 50px;
    top: 220px;
    max-width: 80%;
  }
  @media all and (max-width: 650px) {
    display: flex;
    right: auto;

    width: 80%;
  }
}
.PBIS_Title {
  color: $yellow;
  display: block;
  text-align: center;
  font-size: 1.1em;
}

.PBIS_Counter {
  color: $pink;
  display: block;
  text-align: center;
  font-size: 2em;
}

.PBIS_Progress {
  width: 90%;
  // text-align: center;
  // display: inline-block;
  margin: auto;
  // width: 250px;
  height: 30px;
  // background-color: $yellow;
  // border-radius: 8px;
  // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.titleContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1em;
  align-items: flex-start;
}
