.Progress_Container {
  /* This will result on four columns, each one of 1fr */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* This will result on two rows, each one of 300px */
  grid-template-rows: 300px 300px;
  height: 100%;
  width: fit-content;
  max-width: max-content;
  min-width: 250px;
  height: fit-content;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 1em;
  margin-left: 1em;
  // position: fixed;
  z-index: 1;
  text-align: center;
  // top: 200px;
  // right: 100px;
  background-color: $black;
  //   overflow-x: hidden;
  transition: 0.5s;
  padding: 5px;
  border-radius: 5px;
  justify-content: space-around;
  // box-shadow: 3px 3px 3px 3px $grey;
  // @media all and (max-width: 900px) {
  //   display: flex;
  //   right: 50px;
  //   top: 220px;
  //   max-width: 80%;
  // }
  // @media all and (max-width: 650px) {
  //   display: flex;
  //   right: auto;

  //   width: 80%;
  // }
}
.progressForm {
  display: grid;
  align-items: center;
  justify-items: left;
  grid-template-columns: minmax(300px, 30%) 200px;
}
.Progress_Title {
  color: $yellow;
  display: block;
  text-align: center;
  font-size: 1.2em;
}
.Progress_Text {
  color: $grey;
  display: block;
  text-align: center;
  font-size: 1.1em;
}

.Progress_Progress {
  width: 90%;
  // text-align: center;
  // display: inline-block;
  margin: auto;
  // width: 250px;
  height: 30px;
}

.ProgressContainer {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  // flex-wrap: wrap;
  // justify-content: flex-start;
  margin-bottom: 1em;
  margin-top: 1em;
  align-items: flex-start;
}
